img {
  display: block;
  width: 100%;
}
body {
  background-color: #d1c6b9;
}
#alt {
  background-color: #f1edea;
}
@font-face {
  font-family: "fogtwono5";
  src: url("fonts/fogtwono5-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "oranienbaum";
  src: url("fonts/oranienbaum-webfont.woff2") format("woff2");
}
h1 {
  font-family: "oranienbaum", sans-serif;
}
/* --------------styling om meunen----------------- */
* {
  margin: 4;
  padding: 0;
  box-sizing: border-box;
}

#black_line {
  display: flex;
  place-content: center;
}
#black_line .box0 {
  width: 99%;
  height: 2px;
  margin-top: 0px;
  background-color: black;
}
html {
  font-size: 62.5%;
  font-family: "fogtwono5", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
header {
  position: sticky;
  top: 0;
}
.header {
  background-color: #f1edea;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  padding-bottom: 4.1px;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #000000;
}

.nav-link:hover {
  color: #ff9913;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #000000;
}

.nav-menu {
  margin: 4px;
  position: fixed;
  left: -101%;
  top: 5rem;
  /* flex-direction: column; */
  background-color: #f1edea;
  width: 100%;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu.active {
  left: 4px;
}

.nav-item {
  margin: 2.5rem;
}

.hamburger {
  display: block;
  cursor: pointer;
  font-size: 2.1em;
}

/* -------------forside___Mobilversion-------- 
styldelen-------------------------------*/
.tegn_op {
  width: 4vw;
  height: 2vw;
  background-image: url(svg/pil_ned.svg);
  background-size: cover;
}
.tegn_ned {
  width: 4vw;
  height: 2vw;
  background-image: url(svg/pil_op.svg);
  background-size: cover;
}
#gray_line {
  display: flex;
  place-content: center;
}
#gray_line .box0 {
  width: 99%;
  height: 2px;
  margin-top: 0px;
  background-color: #707070;
}
.headline_min {
  font-size: 20px;
}
.headline_protfolio {
  font-size: 40px;
}

/*--------- mit grid til forsiden i mobil------- */

#section_forside {
  display: grid;
  grid-template-columns: 1fr;
}
#section_forside .section_wrapper {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.arabic_op {
  grid-column: 14/16;
}
.headline_min {
  grid-column: 3/5;
  grid-row: 1/2;
}
.headline_protfolio {
  grid-column: 4/9;
  grid-row: 1/2;
}
.splash_billede {
  grid-column: 2/15;
  grid-row: 2/4;
}

.under_headline {
  grid-column: 5/12;
  grid-row: 3/4;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 77px;
}
.arabic_ned {
  grid-column: 2/3;
}
#gray_line {
  grid-column: 1/16;
  grid-row: 4/4;
}
.navn {
  grid-column: 7/11;
}
